n8n-worflows/02_usgs_earthquake_feed.json
{
  "name": "02 — USGS Earthquakes (M4.5+) → Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/4.5_day.geojson",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "name": "Fetch USGS 4.5+ Earthquakes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const features = $input.first().json?.features || [];\n\nconst alerts = features.map(f => {\n  const p = f.properties || {};\n  const c = f.geometry?.coordinates || [0, 0, 0];\n  const mag = p.mag || 0;\n  \n  let severity = 'green';\n  if (mag >= 7.0) severity = 'red';\n  else if (mag >= 5.5) severity = 'orange';\n  \n  return {\n    json: {\n      title: `🌍 M${mag.toFixed(1)} Earthquake — ${p.place || 'Unknown'}`,\n      summary: `Magnitude ${mag.toFixed(1)} at depth ${c[2]?.toFixed(1) || '?'}km. ${p.tsunami ? '⚠️ TSUNAMI WARNING' : 'No tsunami warning.'}`,\n      source: 'USGS',\n      source_url: p.url || 'https://earthquake.usgs.gov',\n      image_url: null,\n      severity: severity,\n      event_type: 'earthquake',\n      latitude: c[1],\n      longitude: c[0],\n      country: (p.place || '').split(', ').pop() || null,\n      source_id: `usgs-${f.id}`\n    }\n  };\n});\n\nreturn alerts.length > 0 ? alerts : [{ json: { _skip: true } }];"
      },
      "name": "Parse Earthquakes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{
            "leftValue": "={{ $json._skip }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "notEquals" }
          }]
        }
      },
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, summary: $json.summary, source: $json.source, source_url: $json.source_url, image_url: $json.image_url, severity: $json.severity, event_type: $json.event_type, latitude: $json.latitude, longitude: $json.longitude, country: $json.country, source_id: $json.source_id }) }}"
      },
      "name": "Write to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 260]
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Fetch USGS 4.5+ Earthquakes", "type": "main", "index": 0 }]] },
    "Fetch USGS 4.5+ Earthquakes": { "main": [[{ "node": "Parse Earthquakes", "type": "main", "index": 0 }]] },
    "Parse Earthquakes": { "main": [[{ "node": "Has Data?", "type": "main", "index": 0 }]] },
    "Has Data?": { "main": [[{ "node": "Write to Supabase", "type": "main", "index": 0 }], []] }
  }
}
